<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App - Edit Todo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<header class="header">
    <h1>EDIT TODO</h1>
</header>

<div class="container">
    <div class="card">
        <form id="add-todo-form" th:action="@{/{id}/edit(id=${todo.id})}" method="post" th:object="${todo}">
            <input type="hidden" th:field="*{id}">

            <div class="form-group">
                <label for="todo-title" class="form-label">Title</label>
                <input type="text" id="todo-title" th:field="*{title}" class="form-input" required>
            </div>

            <div class="form-group">
                <label for="todo-description" class="form-label">Description</label>
                <textarea id="todo-description" class="form-input" th:field="*{description}" rows="3"
                          required></textarea>
            </div>

            <div class="form-group">
                <label for="todo-priority" class="form-label">Priority</label>
                <select id="todo-priority" class="form-input" th:field="*{priorityLevel}">
                    <option th:each="priority : ${T(com.giaule.momentum.entities.Todo$PriorityLevel).values()}"
                            th:value="${priority}" th:text="${priority}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="todo-status" class="form-label">Status</label>
                <select id="todo-status" class="form-input" th:field="*{status}">
                    <option th:each="status : ${T(com.giaule.momentum.entities.Todo$TodoStatus).values()}"
                            th:value="${status}" th:text="${status}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="todo-due-date" class="form-label">Due Date</label>
                <input type="datetime-local" id="todo-due-date" class="form-input" th:field="*{due}" required>
            </div>

            <div class="form-group button-group">
                <a th:href="@{/}" class="btn btn-accent">CANCEL</a>
                <button type="submit" class="btn btn-primary">SAVE</button>
            </div>
        </form>
    </div>
</div>
</body>

</html>